In [106]:
from sklearn.datasets import fetch_mldata
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
from sklearn.feature_extraction import DictVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.externals import joblib
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from numpy import array
from numpy import argmax

In [107]:
import pandas as pd 
from pandas import DataFrame, read_csv
import numpy as np
import matplotlib.pyplot as plt
# Enable inline plotting
%matplotlib inline
np.set_printoptions(suppress=True)

DISPLAY_MAX_ROWS = 20  # number of max rows to print for a DataFrame
pd.set_option('display.max_rows', DISPLAY_MAX_ROWS)

In [108]:
train = read_csv('data/train.csv')
test = read_csv('data/test.csv')

In [109]:
X_train = train[train.columns.difference(['PassengerId', 'Survived', 'Name', 'Cabin', 'Age', 'Embarked', 'Ticket'])]  # independent variables data
y_train = train.Survived  # dependednt variable data
X_test = test[test.columns.difference(['PassengerId', 'Survived', 'Name', 'Cabin', 'Age', 'Embarked', 'Ticket'])]  # independent variables data

In [110]:
def one_hot_dataframe(data, cols, replace=False):
    vec = DictVectorizer()
    mkdict = lambda row: dict((col, row[col]) for col in cols)
    vecData = pd.DataFrame(vec.fit_transform(data[cols].apply(mkdict, axis=1)).toarray())
    vecData.columns = vec.get_feature_names()
    vecData.index = data.index
    if replace is True:
        data = data.drop(cols, axis=1)
        data = data.join(vecData)
    return (data, vecData, vec)

In [111]:
def one_hot_encode(data): 
    # data example
#     data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
    values = array(data)

    # integer encode
    label_encoder = LabelEncoder()
    integer_encoded = label_encoder.fit_transform(values)
    
    # binary encode
    onehot_encoder = OneHotEncoder(sparse=False)
    integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
    onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
    return onehot_encoded

In [112]:
X_train2, _, _ = one_hot_dataframe(X_train, ['Sex'], replace=True)
X_train2 = X_train2.where((pd.notnull(X_train2)), 100)

X_test2, _, _ = one_hot_dataframe(X_test, ['Sex', 'Pclass'], replace=True)
X_test2 = X_test2.where((pd.notnull(X_test2)), 100)

In [113]:
values = array(X_test2.Pclass)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(pclass[11,:])
print(integer_encoded)
print(X_test2.Pclass)

[1. 0. 0.]
[2 2 1 2 2 2 2 1 2 2 2 0 0 1 0 1 1 2 2 2 0 2 0 0 0 2 0 2 0 2 1 1 2 2 0 2 2
 2 2 2 2 0 2 1 0 2 0 2 0 2 0 1 1 0 1 2 2 2 2 0 2 1 2 2 0 1 2 0 0 0 2 2 2 0
 0 0 2 0 1 2 2 0 0 2 1 2 2 2 2 1 2 2 0 2 0 2 0 2 2 2 0 1 2 2 2 2 2 2 2 1 1
 2 0 2 0 2 2 2 0 1 1 2 0 2 2 2 2 2 1 2 2 0 2 2 2 2 2 1 2 2 2 0 0 1 0 2 0 2
 0 1 0 2 2 2 2 2 0 2 0 2 2 2 1 2 1 2 0 2 0 2 2 2 2 2 2 1 1 0 1 0 1 0 0 2 0
 1 1 2 2 1 1 0 2 1 1 2 0 2 1 2 2 2 0 1 1 0 2 1 0 2 2 2 1 1 2 0 2 0 0 2 1 2
 1 2 0 2 2 2 2 1 1 0 2 2 0 2 0 2 1 0 0 1 0 2 2 0 1 1 1 2 1 2 0 2 2 2 2 2 1
 2 2 2 1 2 1 2 0 2 2 2 0 2 0 2 2 1 1 1 1 1 2 2 2 2 2 2 2 0 2 2 0 2 2 0 2 2
 1 2 0 2 2 1 1 2 2 0 0 2 0 2 2 2 2 2 0 2 0 1 2 1 2 2 1 0 0 2 1 0 1 1 1 0 2
 2 2 0 1 2 1 2 1 2 2 0 2 2 1 2 1 1 0 1 1 1 2 0 0 2 2 2 2 1 1 2 0 2 2 2 0 1
 1 0 0 1 0 0 2 1 0 2 2 2 2 2 1 1 2 1 2 2 0 0 2 1 2 0 2 0 2 2 0 1 0 0 0 1 1
 0 2 2 2 0 2 2 0 2 2 2]
0      3.0
1      3.0
2      2.0
3      3.0
4      3.0
5      3.0
6      3.0
7      2.0
8      3.0
9      3.0
      ...
408    3.0
409    3.0
410    3.0
411    1.0
412    3.0
413    3.0
414    1.0
415    3.0
416    3.0
417    3.0
Name: Pclass, Length: 418, dtype: float64

In [114]:
pclass = one_hot_encode(X_train2.Pclass)
# X_test2.drop('Pclass', axis=1, inplace=True)
X_train2['Pclass=1'] = pclass[:, 0]
X_train2['Pclass=2'] = pclass[:, 1]
X_train2['Pclass=3'] = pclass[:, 2]
X_train2.drop('Pclass', axis=1, inplace=True)

In [115]:
pclass = one_hot_encode(X_test2.Pclass)
# X_test2.drop('Pclass', axis=1, inplace=True)
X_test2['Pclass=1'] = pclass[:, 0]
X_test2['Pclass=2'] = pclass[:, 1]
X_test2['Pclass=3'] = pclass[:, 2]
X_test2.drop('Pclass', axis=1, inplace=True)

In [116]:
X_test2

,Fare,Parch,SibSp,Sex=female,Sex=male,Pclass=1,Pclass=2,Pclass=3
0,7.8292,0,0,0.0,1.0,0.0,0.0,1.0
1,7.0000,0,1,1.0,0.0,0.0,0.0,1.0
2,9.6875,0,0,0.0,1.0,0.0,1.0,0.0
3,8.6625,0,0,0.0,1.0,0.0,0.0,1.0
4,12.2875,1,1,1.0,0.0,0.0,0.0,1.0
5,9.2250,0,0,0.0,1.0,0.0,0.0,1.0
6,7.6292,0,0,1.0,0.0,0.0,0.0,1.0
7,29.0000,1,1,0.0,1.0,0.0,1.0,0.0
8,7.2292,0,0,1.0,0.0,0.0,0.0,1.0
9,24.1500,0,2,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
408,7.7208,0,0,1.0,0.0,0.0,0.0,1.0
409,13.7750,1,1,1.0,0.0,0.0,0.0,1.0
410,7.7500,0,0,1.0,0.0,0.0,0.0,1.0
411,90.0000,0,1,1.0,0.0,1.0,0.0,0.0
412,7.7750,0,0,1.0,0.0,0.0,0.0,1.0
413,8.0500,0,0,0.0,1.0,0.0,0.0,1.0
414,108.9000,0,0,1.0,0.0,1.0,0.0,0.0
415,7.2500,0,0,0.0,1.0,0.0,0.0,1.0
416,8.0500,0,0,0.0,1.0,0.0,0.0,1.0
417,22.3583,1,1,0.0,1.0,0.0,0.0,1.0

In [117]:
# X_train2.name.unique()
X_train2[['Fare']] = StandardScaler().fit_transform(X_train2[['Fare']])
X_test2[['Fare']] = StandardScaler().fit_transform(X_test2[['Fare']])

In [118]:
X_train2

,Fare,Parch,SibSp,Sex=female,Sex=male,Pclass=1,Pclass=2,Pclass=3
0,-0.502445,0,1,0.0,1.0,0.0,0.0,1.0
1,0.786845,0,1,1.0,0.0,1.0,0.0,0.0
2,-0.488854,0,0,1.0,0.0,0.0,0.0,1.0
3,0.420730,0,1,1.0,0.0,1.0,0.0,0.0
4,-0.486337,0,0,0.0,1.0,0.0,0.0,1.0
5,-0.478116,0,0,0.0,1.0,0.0,0.0,1.0
6,0.395814,0,0,0.0,1.0,1.0,0.0,0.0
7,-0.224083,1,3,0.0,1.0,0.0,0.0,1.0
8,-0.424256,2,0,1.0,0.0,0.0,0.0,1.0
9,-0.042956,0,1,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
881,-0.489442,0,0,0.0,1.0,0.0,0.0,1.0
882,-0.436671,0,0,1.0,0.0,0.0,0.0,1.0
883,-0.437007,0,0,0.0,1.0,0.0,1.0,0.0
884,-0.506472,0,0,0.0,1.0,0.0,0.0,1.0
885,-0.061999,5,0,1.0,0.0,0.0,0.0,1.0
886,-0.386671,0,0,0.0,1.0,0.0,1.0,0.0
887,-0.044381,0,0,1.0,0.0,1.0,0.0,0.0
888,-0.176263,2,1,1.0,0.0,0.0,0.0,1.0
889,-0.044381,0,0,0.0,1.0,1.0,0.0,0.0
890,-0.492378,0,0,0.0,1.0,0.0,0.0,1.0

In [119]:
# plt.hist(X_test2[['Pclass']], bins=np.arange(data.min(), data.max()+1))
# X_test2.groupby('Pclass').count()

In [120]:
enc = preprocessing.OneHotEncoder(n_values=[2, 3, 4])
# Note that there are missing categorical values for the 2nd and 3rd
# features
enc.fit([[1, 2, 3], [0, 2, 0]])  
OneHotEncoder(categorical_features='all',
       handle_unknown='error', n_values=[2, 3, 4], sparse=True)
enc.transform([[1, 0, 0]]).toarray()

array([[0., 1., 1., 0., 0., 1., 0., 0., 0.]])

In [121]:
# define example
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = array(data)
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
print(inverted)

['cold' 'cold' 'warm' 'cold' 'hot' 'hot' 'warm' 'cold' 'warm' 'hot']
[0 0 2 0 1 1 2 0 2 1]
[[1. 0. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]
['cold']

/home/aung/.conda/envs/mytensorflow/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [122]:
# mnist = fetch_mldata("MNIST original")

# # rescale the data, use the traditional train/test split
# X, y = mnist.data / 255., mnist.target
# X_train, X_test = X[:60000], X[60000:]
# y_train, y_test = y[:60000], y[60000:]

In [123]:
# mlp = MLPClassifier(hidden_layer_sizes=(100, 100), max_iter=400, alpha=1e-4,
#                     solver='sgd', verbose=10, tol=1e-4, random_state=1)
mlp = MLPClassifier(hidden_layer_sizes=(100, 100), 
                    max_iter=1000, 
                    alpha=1e-4,
                    solver='sgd', 
                    verbose=10, 
                    tol=1e-4, 
                    random_state=1,
                    learning_rate_init=.001, 
                    validation_fraction=0.2)

mlp.fit(X_train2, y_train)

# pipe = make_pipeline(StandardScaler(), mlp)
# pipe.fit(X_train2, y_train)

joblib.dump(mlp, 'titanic_model_mlp.pkl')
print("Training set score: %f" % mlp.score(X_train2, y_train))
# print("Test set score: %f" % mlp.score(X_test, y_test))

Iteration 1, loss = 0.66518141
Iteration 2, loss = 0.66254437
Iteration 3, loss = 0.65868383
Iteration 4, loss = 0.65397921
Iteration 5, loss = 0.64912992
Iteration 6, loss = 0.64427664
Iteration 7, loss = 0.63943901
Iteration 8, loss = 0.63460859
Iteration 9, loss = 0.63016245
Iteration 10, loss = 0.62563275
Iteration 11, loss = 0.62128710
Iteration 12, loss = 0.61703028
Iteration 13, loss = 0.61296390
Iteration 14, loss = 0.60902365
Iteration 15, loss = 0.60531322
Iteration 16, loss = 0.60159057
Iteration 17, loss = 0.59803235
Iteration 18, loss = 0.59471319
Iteration 19, loss = 0.59143357
Iteration 20, loss = 0.58834003
Iteration 21, loss = 0.58536916
Iteration 22, loss = 0.58232281
Iteration 23, loss = 0.57948311
Iteration 24, loss = 0.57657192
Iteration 25, loss = 0.57377389
Iteration 26, loss = 0.57104421
Iteration 27, loss = 0.56843407
Iteration 28, loss = 0.56583557
Iteration 29, loss = 0.56333673
Iteration 30, loss = 0.56079240
Iteration 31, loss = 0.55839827
Iteration 32, loss = 0.55601331
Iteration 33, loss = 0.55375616
Iteration 34, loss = 0.55146772
Iteration 35, loss = 0.54931953
Iteration 36, loss = 0.54716470
Iteration 37, loss = 0.54505591
Iteration 38, loss = 0.54299566
Iteration 39, loss = 0.54103537
Iteration 40, loss = 0.53903723
Iteration 41, loss = 0.53715831
Iteration 42, loss = 0.53524823
Iteration 43, loss = 0.53344108
Iteration 44, loss = 0.53160735
Iteration 45, loss = 0.52988942
Iteration 46, loss = 0.52810947
Iteration 47, loss = 0.52645526
Iteration 48, loss = 0.52476010
Iteration 49, loss = 0.52311267
Iteration 50, loss = 0.52153697
Iteration 51, loss = 0.52004419
Iteration 52, loss = 0.51842272
Iteration 53, loss = 0.51699062
Iteration 54, loss = 0.51547151
Iteration 55, loss = 0.51406798
Iteration 56, loss = 0.51261060
Iteration 57, loss = 0.51123479
Iteration 58, loss = 0.50984573
Iteration 59, loss = 0.50859603
Iteration 60, loss = 0.50720463
Iteration 61, loss = 0.50591226
Iteration 62, loss = 0.50468737
Iteration 63, loss = 0.50341307
Iteration 64, loss = 0.50223710
Iteration 65, loss = 0.50104343
Iteration 66, loss = 0.49986319
Iteration 67, loss = 0.49873389
Iteration 68, loss = 0.49760634
Iteration 69, loss = 0.49649787
Iteration 70, loss = 0.49540739
Iteration 71, loss = 0.49433295
Iteration 72, loss = 0.49334163
Iteration 73, loss = 0.49231431
Iteration 74, loss = 0.49139865
Iteration 75, loss = 0.49037853
Iteration 76, loss = 0.48940292
Iteration 77, loss = 0.48848941
Iteration 78, loss = 0.48755052
Iteration 79, loss = 0.48668552
Iteration 80, loss = 0.48579363
Iteration 81, loss = 0.48495139
Iteration 82, loss = 0.48407076
Iteration 83, loss = 0.48330821
Iteration 84, loss = 0.48251295
Iteration 85, loss = 0.48169338
Iteration 86, loss = 0.48096649
Iteration 87, loss = 0.48023334
Iteration 88, loss = 0.47946802
Iteration 89, loss = 0.47878418
Iteration 90, loss = 0.47807607
Iteration 91, loss = 0.47743779
Iteration 92, loss = 0.47678068
Iteration 93, loss = 0.47610426
Iteration 94, loss = 0.47546295
Iteration 95, loss = 0.47487414
Iteration 96, loss = 0.47424977
Iteration 97, loss = 0.47368208
Iteration 98, loss = 0.47310961
Iteration 99, loss = 0.47251747
Iteration 100, loss = 0.47198215
Iteration 101, loss = 0.47139360
Iteration 102, loss = 0.47085418
Iteration 103, loss = 0.47033696
Iteration 104, loss = 0.46980463
Iteration 105, loss = 0.46927598
Iteration 106, loss = 0.46877478
Iteration 107, loss = 0.46827723
Iteration 108, loss = 0.46782931
Iteration 109, loss = 0.46739575
Iteration 110, loss = 0.46688241
Iteration 111, loss = 0.46642295
Iteration 112, loss = 0.46600060
Iteration 113, loss = 0.46552704
Iteration 114, loss = 0.46510143
Iteration 115, loss = 0.46469935
Iteration 116, loss = 0.46428057
Iteration 117, loss = 0.46387742
Iteration 118, loss = 0.46350619
Iteration 119, loss = 0.46312292
Iteration 120, loss = 0.46278724
Iteration 121, loss = 0.46244655
Iteration 122, loss = 0.46206372
Iteration 123, loss = 0.46170526
Iteration 124, loss = 0.46132091
Iteration 125, loss = 0.46101045
Iteration 126, loss = 0.46064457
Iteration 127, loss = 0.46031584
Iteration 128, loss = 0.46000892
Iteration 129, loss = 0.45967146
Iteration 130, loss = 0.45939080
Iteration 131, loss = 0.45908269
Iteration 132, loss = 0.45880628
Iteration 133, loss = 0.45849318
Iteration 134, loss = 0.45823941
Iteration 135, loss = 0.45798004
Iteration 136, loss = 0.45768996
Iteration 137, loss = 0.45742312
Iteration 138, loss = 0.45718114
Iteration 139, loss = 0.45692285
Iteration 140, loss = 0.45668269
Iteration 141, loss = 0.45644467
Iteration 142, loss = 0.45618828
Iteration 143, loss = 0.45594433
Iteration 144, loss = 0.45574568
Iteration 145, loss = 0.45549248
Iteration 146, loss = 0.45525194
Iteration 147, loss = 0.45504996
Iteration 148, loss = 0.45482890
Iteration 149, loss = 0.45461393
Iteration 150, loss = 0.45442706
Iteration 151, loss = 0.45419870
Iteration 152, loss = 0.45403399
Iteration 153, loss = 0.45378176
Iteration 154, loss = 0.45359945
Iteration 155, loss = 0.45341818
Iteration 156, loss = 0.45321324
Iteration 157, loss = 0.45302302
Iteration 158, loss = 0.45286322
Iteration 159, loss = 0.45263338
Iteration 160, loss = 0.45245379
Iteration 161, loss = 0.45227875
Iteration 162, loss = 0.45209912
Iteration 163, loss = 0.45192535
Iteration 164, loss = 0.45174191
Iteration 165, loss = 0.45159582
Iteration 166, loss = 0.45142056
Iteration 167, loss = 0.45125316
Iteration 168, loss = 0.45110871
Iteration 169, loss = 0.45094073
Iteration 170, loss = 0.45076675
Iteration 171, loss = 0.45062581
Iteration 172, loss = 0.45044321
Iteration 173, loss = 0.45031421
Iteration 174, loss = 0.45016061
Iteration 175, loss = 0.45001366
Iteration 176, loss = 0.44986555
Iteration 177, loss = 0.44970232
Iteration 178, loss = 0.44956464
Iteration 179, loss = 0.44945779
Iteration 180, loss = 0.44924875
Iteration 181, loss = 0.44912043
Iteration 182, loss = 0.44896677
Iteration 183, loss = 0.44884321
Iteration 184, loss = 0.44870053
Iteration 185, loss = 0.44856866
Iteration 186, loss = 0.44841752
Iteration 187, loss = 0.44831135
Iteration 188, loss = 0.44818007
Iteration 189, loss = 0.44804082
Iteration 190, loss = 0.44791165
Iteration 191, loss = 0.44778751
Iteration 192, loss = 0.44766558
Iteration 193, loss = 0.44754751
Iteration 194, loss = 0.44743911
Iteration 195, loss = 0.44731857
Iteration 196, loss = 0.44720223
Iteration 197, loss = 0.44708285
Iteration 198, loss = 0.44696310
Iteration 199, loss = 0.44684187
Iteration 200, loss = 0.44672750
Iteration 201, loss = 0.44660189
Iteration 202, loss = 0.44648241
Iteration 203, loss = 0.44637428
Iteration 204, loss = 0.44627897
Iteration 205, loss = 0.44615644
Iteration 206, loss = 0.44604414
Iteration 207, loss = 0.44594339
Iteration 208, loss = 0.44581624
Iteration 209, loss = 0.44572187
Iteration 210, loss = 0.44560860
Iteration 211, loss = 0.44550723
Iteration 212, loss = 0.44541536
Iteration 213, loss = 0.44529325
Iteration 214, loss = 0.44522518
Iteration 215, loss = 0.44508570
Iteration 216, loss = 0.44501125
Iteration 217, loss = 0.44488579
Iteration 218, loss = 0.44479340
Iteration 219, loss = 0.44469899
Iteration 220, loss = 0.44460558
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.
Training set score: 0.803591

In [124]:
mlp = joblib.load('titanic_model_mlp.pkl')
p = mlp.predict(X_test2)
predictions = pd.DataFrame(data={'PassengerId': test.PassengerId, 'Survived': p})

In [125]:
predictions

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
..           ...       ...
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [126]:
predictions.to_csv('predictions/result.csv', sep=',', encoding='utf-8', index=False)